/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Noto+Serif&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: capitalize;
  background-color: #f3dad8;
  min-height: 100vh;
  position: relative;
}

h1 {
  font-family: 'Noto Serif', serif;
  font-size: 2rem;
  padding: 25px;
  margin: 0;
}

h2 {
  margin: 0 0 5px 0;
  font-size: 0.8rem;
  font-weight: 400;
}


.warningMessage {
  color: #f72585;
  padding: 10px;
  height: 35px;
  font-weight: 400;

}


.itemName {
  text-transform: uppercase;
}


input {
  width: 78%;
  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.buttonContainer {
  text-align: right;
  /* width: 46.5%; */
  margin: 0 auto;
}

button {
  border: none;
  cursor: pointer;
  margin: 0 5px;
  background: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;

}

.btn {
  border: none;
  padding: 7px 8px;
  border-radius: 5px;
  align-self: right;
  transition: 0.3s;
  color: white;
  background-color: #c19bff;
  box-shadow: 8px 7px 10px -4px rgba(0,0,0,0.2);
  margin: 0;
}

.btn:active {
  box-shadow: none;
}

.clearList {
  background-color: #f72585;
  margin: 0;
}


.listContainer {
  /* width: 46.5%; */

  margin: 10px auto 20px auto;
  text-align: center;

}

.rightItems {
  display: flex;
}

ul {
  display: flex;
  flex-direction: column-reverse;
}

li {
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px 10px;
  margin: 3px 0;

 
}

img {
  width: 70px;
  height: 70px;
  display: block;
  object-fit: cover;
  margin-right: 15px;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.removeItem {
  align-self: flex-end;
  margin-bottom: 40px;
}

.updateBtns {
  display: flex;
  align-items: center;
}

.icon {
  color: #9a5cff;

  }


  .changeAmount {
    font-size: 0.5rem;
    padding: 5px 6px;
    border: 1px solid #9a5cff;
    border-radius: 50%;
    transition: 0.3s;
  }

  .changeAmount:hover,
  .changeAmount:focus {
    background-color: #c19bff;
    color: white;
    border: 1px solid #c19bff;
  }

  .itemAmount {
    width: 20px;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #c19bff;
    padding: 3px 0;
  }

  a {
    display: inline-block;
    text-decoration: none;
    color: black;
  }

  a:hover,
  a:focus {
    color: white;
  }


  @media (max-width: 555px){
  .wrapper {
   width: 95%;
  }
  
  input {
    width: 74%;
  }

    
  }

  @media (max-width: 430px){
    h2 {
      font-size: 0.7rem;
    }

    input {
      width: 69%;
    }
  }

  @media (max-width: 320px){
input {
  width: 64%;
}
  }













