/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Noto+Serif&display=swap');

.wrapper {
  text-align: center;
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

body {
  font-family: 'Noto Serif', serif;;
  background-color: #f3dad8;
  height: 100vh;
  text-transform: capitalize;
}

p {
  text-transform: uppercase;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}



label {
  margin-right: 10px;
}

input {
  width: 35%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-bottom: 30px;
  cursor: pointer;
}

.buttonContainer {
  text-align: right;
  width: 45%;
  margin: 0 auto;
}

button {
  border: none;
  cursor: pointer;
  margin: 0 5px;
  background: none;
}

.btn {
 border: none;
 padding: 5px 8px;
 border-radius: 5px;
align-self: right;
background-color: #c19bff;

}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none
}


.listContainer {
  width: 45%;
  margin: 10px auto 0 auto;
  text-align: center;
}


li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px 10px;
  margin: 3px 0;
 
}

img {
  width: 70px;
  height: 70px;
  display: block;
  object-fit: cover;
  margin-right: 15px;
}

.btnContainer {
  display: flex;
  flex-direction: column;
 justify-content: space-between;
 align-items: center;
}

.rightItems {
  display: flex;
}

.removeItem {
  align-self: flex-end;
  margin-bottom: 40px;
}

.updateBtns {
  display: flex;
  align-items: center;
}

.icon {
padding: 5px;
  background-color: yellow;
}

.warningMessage {
  color: #c19bff;
  margin: 10px;

}

