/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Noto+Serif&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: capitalize;
  background-color: #f3dad8;
  min-height: 100vh;
  position: relative;
}

h1 {
  font-family: 'Noto Serif', serif;
  font-size: 2rem;
  padding: 25px;
  margin: 0;
}

h2 {
  margin: 0 0 5px 0;
  font-size: 0.8rem;
  font-weight: 400;
}


.warningMessage {
  color: #f72585;
  padding: 10px;
  height: 35px;
  font-weight: 400;

}


.itemName {
  text-transform: uppercase;
}


label {
  margin-right: 10px;
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
}

input {
  width: 35%;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttonContainer {
  text-align: right;
  width: 45%;
  margin: 0 auto;
}

button {
  border: none;
  cursor: pointer;
  margin: 0 5px;
  background: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.btn {
  border: none;
  padding: 7px 8px;
  border-radius: 5px;
  align-self: right;
  transition: 0.3s;
  color: white;
  background-color: #c19bff;
  box-shadow: 5px 8px 15px -5px rgba(0,0,0,0.1);




  
  
}

.btn:hover,
.btn:focus {
  background-color: #f72585;
}


.listContainer {
  width: 45%;
  margin: 10px auto 20px auto;
  text-align: center;
}

.rightItems {
  display: flex;
}

li {
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px 10px;
  margin: 3px 0;
 
}

img {
  width: 70px;
  height: 70px;
  display: block;
  object-fit: cover;
  margin-right: 15px;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.removeItem {
  align-self: flex-end;
  margin-bottom: 40px;
}

.updateBtns {
  display: flex;
  align-items: center;
}

.icon {
  color: #9a5cff;

  }


  .changeAmount {
    font-size: 0.5rem;
    padding: 5px 6px;
    border: 1px solid #9a5cff;
    border-radius: 50%;
    transition: 0.3s;
  }

  .changeAmount:hover,
  .changeAmount:focus {
    background-color: #c19bff;
    color: white;
    border: 1px solid #c19bff;
  }

  .itemAmount {
    width: 20px;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #c19bff;
    padding: 3px 0;
  }

  a {
    display: inline-block;
    text-decoration: none;
    color: black;
  }

  a:hover,
  a:focus {
    color: white;
  }












